.tasks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.task{
    border: solid 1px black;
    padding: 15px;
    margin: 0;
    width: fit-content;
    border-radius: 25px;
    flex-wrap: wrap;
    text-align: center;
}


.toutou{
    display: flex;
    justify-content: space-around;
}

.activeList{
    display: flex;
    flex-direction: column;
}