<div class="container">
    <input type="text" [(ngModel)]="inputData"> <button (click)="add()" [disabled]="inputData.length === 0">Ajouter</button>
    <div class="toutou">
        <div *ngIf="toutous.length > 0" class="tasks">
            <div *ngFor="let toutou of toutous; let index = index" class="task">
                    <app-toutou-task [idTask]="toutou.idTask"  [textTask]="toutou.textTask" [isDone]="toutou.isDone" [stateText]="toutou.stateText" [onUpdate]="false" ></app-toutou-task>
            </div>
        </div>
        <div *ngIf="toutous.length > 0" class="activeList">
            <div *ngFor="let task of toutous" class="activeTask">
                <div *ngIf="task.isDone" >
                    {{task.textTask}}
                </div>
            </div>
        </div>
    </div>
    

</div>

